/*===== Import=====*/
/*===== Mixins =====*/
/*===== Fonts=====*/
@font-face {
  font-family: "work-sans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}
/*===== Global Styles =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "work-sans";
}

body {
  background-color: #2e2e2e;
}

ul {
  list-style-type: none;
}

a {
  color: rgba(234, 204, 194, 0.5);
  text-decoration: none;
  opacity: 0.6;
}

p {
  line-height: 2rem;
  opacity: 0.6;
  font-size: 0.9rem;
}

h3 {
  color: #ebccc2;
}

a:hover {
  color: #ebccc2;
  text-decoration-color: #2e2e2e;
  text-decoration: underline;
}

.colorFonts {
  color: #ebccc2;
}

/*===== Header =====*/
header .navStyles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  position: fixed;
  top: 1vh;
  left: 2vw;
  right: 0;
}
header ul {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}
header a {
  padding: 0 10px;
}

/*===== Navigation aside =====*/
aside {
  text-transform: uppercase;
}
aside a {
  display: block;
  padding: 5vh 4vw;
}
aside nav {
  position: fixed;
  top: 30vh;
  left: 0vw;
}
aside .colorAbout {
  color: #ebccc2;
}
aside .StylesH1 {
  padding-top: 23vh;
  padding-bottom: 10vh;
  font-size: 2rem;
  max-width: 35vw;
  margin: auto;
}

/*===== Main Global Styles =====*/
h1, h2, p {
  color: #ebccc2;
}

/*===== Main First Section =====*/
main .flyingManImage {
  background-image: url("../img/section-about-1.jpg");
  height: 90vh;
  width: 92%;
  background-position: center;
  background-size: cover;
  margin: 15vh auto;
}

/*===== Main Second Section =====*/
.desginAlchemy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.desginAlchemy article {
  padding-bottom: 20vh;
  padding-top: 0vh;
}
.desginAlchemy img {
  width: 40%;
  height: 65%;
}
.desginAlchemy h2 {
  padding-left: 3vw;
  padding-bottom: 3vh;
}
.desginAlchemy p {
  width: 35vw;
  opacity: 0.4;
  padding-left: 3vw;
  padding-top: 2vh;
}

/*===== Lounger Style =====*/
main .flexContainer {
  display: flex;
}
main .loungerImage {
  background-image: url("../img/section-voyager.jpg");
  height: 100vh;
  width: 57%;
  background-position: center;
  background-size: cover;
}
main p {
  width: 35vw;
  padding-left: 2vw;
  padding-top: 3vh;
}
main h2 {
  padding: 23vh 0 13vh 2vw;
  font-size: 2rem;
}

/*===== Experience  Styles =====*/
.mainExperience .flexContainer3 {
  display: flex;
}
.mainExperience .experienceImage {
  background-image: url("../img/section-experience-1.jpg");
  height: 100vh;
  width: 57%;
  background-position: center;
  background-size: cover;
}
.mainExperience p {
  width: 35vw;
  padding-left: 2vw;
  padding-top: 3vh;
}
.mainExperience h2 {
  padding: 19vh 0 9vh 2vw;
  font-size: 2rem;
}

/*===== Inspiration Styles =====*/
.videoWithPictureGallary .flexcontainer4 {
  display: flex;
  justify-content: center;
  padding: 20vh 14vw;
}
.videoWithPictureGallary video {
  width: 100%;
}
.videoWithPictureGallary .contentInspiration {
  margin-left: 14vw;
}
.videoWithPictureGallary h2 {
  padding-bottom: 4vh;
  padding-top: 2vh;
  padding-left: 0;
}
.videoWithPictureGallary span {
  color: #ebccc2;
  opacity: 0.4;
  margin-left: 14vw;
  margin-right: -14vw;
  padding: 1vh 1vw 1vh 1vw;
  border: 1px solid #ebccc2;
}
.videoWithPictureGallary .descriptionAboutInspiration p {
  margin-left: 12vw;
  padding-bottom: 4vh;
}

.imageGallery {
  margin: 10vh 14vw -10vh 14vw;
  display: flex;
  height: 50vh;
}
.imageGallery img {
  width: 100%;
  padding-right: 1vw;
}
.imageGallery .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imageGallery .content h2, .imageGallery .content h3 {
  padding-left: 2vw;
}

/*# sourceMappingURL=style.css.map */
